img {
    color: white;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar div:hover {
    background-color: #DCDCDC;
}

.navbar div {
    width: 95%;
    padding: 2px 0px 2px 4px;
    border-radius: 5px;
    position: relative;
}

.navbar > div:first-child {
    margin-top: 10px;
}

.navbar img {
    position: absolute;
    top: 6px;
    height: 16px;
}
.navbar span {
    padding-left: 25px;
}


